// Your variable overrides
$body-bg: #E09E2D;
$body-color: rgba(224, 158, 45, 0.5);

$theme-colors: (
        "primary": #E09E2D,
        "danger": #0E725D
);

@import "../node_modules/bootstrap/scss/bootstrap";

// Bootstrap and its default variables
//@import "../node_modules/bootstrap/scss/bootstrap";