@media (min-width: 992px) and (max-width: 1045px) {
    #btn-mano{
        width: 162px;
    }
}

@media (max-width: 767px) {
    .link-mb{
        margin-bottom: 3rem!important;
    }

    .mb-title{
        margin-bottom: 1rem!important;
    }
}