<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../assets/templates/nablaware/nablaware.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <link rel="icon" href="../../images/favicon.png">
    <title>Nablaware - mf</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
        <img src="../../images/mano.png" class="rounded-circle img-thumbnail w-50">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Photos de moi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../images/mano.png" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../../images/moi.JPG" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../../images/nike.png" class="d-block w-100">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="navbar-brand d-sm-block d-none" href="../.." style="font-size: 20px">Manorie FLAVIGNIE</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand d-block d-sm-none" href="../.." style="font-size: 20px">Manorie FLAVIGNIE</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../files/cv.pdf" target="_blank">CV</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../gep/ecole.html">Mon école</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Réalisations professionnelles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../landing-page.html">1 - Triiibu site</a>
                    <a class="dropdown-item" href="../landing-page.html">2 - Triiibu application mobile</a>
                    <a class="dropdown-item" href="../landing-page.html">3 - Réseau - Trilogie</a>
                    <a class="dropdown-item" href="../landing-page.html">4 - Vix Herault Transport</a>
                    <a class="dropdown-item" href="../landing-page.html">5 - Vix Ginko</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="d-md-none d-block d-flex justify-content-center">
        <img src="../../images/nablaware.png" class="img-fluid" style="width: 300px">
    </div>

    <div class="row">
        <div class="d-none d-md-block col-5">
            <img src="../../images/nablaware.png" class="img-fluid">
        </div>
        <div class="col-7 d-flex align-items-center">
            <h1 class="d-none d-md-block">Nablaware</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-5">
            <div class="card link-mb">
                <h5 class="card-header"><i class="fas fa-link text-primary"></i> Liens</h5>
                <div class="card-body">
                    <p class="card-text">
                    <ul>
                        <li><a href="https://nablaware.fr" class="text-primary">Site de mon entreprise</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="alert alert-primary" role="alert" style="margin: 0">
                Agile et rapide, Nablaware c’est d’abord une équipe à taille humaine composée de digital natives
                bien dans leurs sneakers. À l’écoute et rodés à la traduction de problématiques entrepreneuriales
                en outils techniques, ils sont aussi capables de solliciter rapidement des talents supplémentaires
                pour croître et répondre à un projet à grande échelle.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-align-left text-primary"></i> UN MÉTIER, UNE APPLICATION</h5>
                <div class="card-body">
                    <p class="card-text">
                        Avec la digitalisation croissante des organisations, tous les métiers peuvent être amenés à
                        disposer d’une application métier pour :
                        <br/>
                        <br/>
                        - Augmenter leur productivité
                        <br/>
                        - Réduire les risques et sécuriser le work flow
                        <br/>
                        - Mieux gérer l’activité en télétravail
                        <br/>
                        - Mieux impliquer les digital natives
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-align-left text-primary"></i> UNE APPLICATION ?</h5>
                <div class="card-body">
                    <p class="card-text">
                        Une application ou web app est un logiciel accessible en ligne, et, dans le cas des
                        applications développées par Nablaware, à partir de n’importe quel terminal : ordinateurs
                        fixes, tablettes, smartphones.
                        <br/>
                        <br/>
                        Une application sur-mesure permet de s’affranchir de nombreuses contraintes, à commencer
                        par la dépendance à l’égard d’une application tierce, de ses limitations, de ses évolutions
                        et de sa fiabilité. Une application ne nécessite pas d’installation de logiciel et peut
                        être utilisée quel que soit le système d’exploitation.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="../../assets/templates/nablaware/nablaware.js"></script>
</body>
</html>