<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../assets/templates/gep/projects/ccipromotion/ccipromotion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="icon" href="../../../images/favicon.png">
    <title>CCI - PROMO - mf</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="../../.." type="button" class="btn btn-light">
        <img src="../../../images/mano.png" class="rounded-circle img-thumbnail w-50">
    </a>

    <a class="navbar-brand d-sm-block d-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau de compétences</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand d-block d-sm-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau de compétences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../../files/cv.pdf" target="_blank">CV</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../ecole.html">Mon école</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../nablaware/nablaware.html">Mon entreprise</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="rpDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Réalisations professionnelles
                </a>
                <div class="dropdown-menu" aria-labelledby="rpDropdown">
                    <div class="dropdown-header">En formation</div>
                    <a class="dropdown-item" href="gsb.html">
                        GSB
                    </a>
                    <a class="dropdown-item" href="ccipromotion.html">
                        CCI - PROMO
                    </a>
                    <a class="dropdown-item" href="helios.html">
                        Helios
                    </a>
                    <a class="dropdown-item" href="developpement-professionnel.html">
                        Développement professionnel
                    </a>
                    <a class="dropdown-item" href="glpi.html">
                        GLPI
                    </a>
                    <a class="dropdown-item" href="dvwa.html">
                        DVWA
                    </a>
                    <a class="dropdown-item" href="deja-dup.html">
                        Déjà Dup
                    </a>
                    <div class="dropdown-header">En entreprise</div>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibuweb.html">
                        Triiibu web
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibumob.html">
                        Triiibu application mobile
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/trilogie.html">
                        Réseau - Trilogie
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="m-5">
        <h1 class="d-flex justify-content-center">CCI - PROMO</h1>
    </div>

    <div class="card mx-auto mb-5 carousel-width">
        <div id="carousel2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel2" data-slide-to="1"></li>
                <li data-target="#carousel2" data-slide-to="2"></li>
                <li data-target="#carousel2" data-slide-to="3"></li>
                <li data-target="#carousel2" data-slide-to="4"></li>
                <li data-target="#carousel2" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../images/ccipromotion/bdd.png" class="d-block w-100">
                </div>
                <!--
                <div class="carousel-item">
                    <img src="../../../images/ccipromotion/1.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../../../images/ccipromotion/2.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../../../images/ccipromotion/3.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../../../images/ccipromotion/4.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../../../images/ccipromotion/5.png" class="d-block w-100">
                </div>
                -->
            </div>
            <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    Contexte du projet
                </div>

                <div class="card-body">
                    <div class="mb-2">
                        J’ai travaillé en tant que technicien développeur junior pour l’ESN Badènia Tech qui vient de
                        remporter le marché de développement d’une application mobile android qui doit participer à la
                        promotion de la chambre de commerce et de l’industrie, particulièrement, les formations
                        proposées.
                    </div>
                    <div>
                        J’ai dû faire évoluer l’application existante qui est basique et comporte une seule IHM, la page
                        d’accueil.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Expression de besoin
                </div>

                <div class="card-body">
                    <div class="mb-2">
                        <div style="font-weight: bold">
                            Besoin 1 :
                        </div>

                        Lister les formations proposées par la CCI
                    </div>
                    <div class="mb-2">
                        <div style="font-weight: bold">
                            Besoin 2 :
                        </div>

                        Après la sélection d’une formation dans la liste, l’application doit afficher une page la
                        décrivant.

                        La page doit afficher :
                        <ul>
                            <li>
                                L’intitulé de la formation
                            </li>
                            <li>
                                La date de début
                            </li>
                            <li>
                                La durée
                            </li>
                            <li>
                                L’image de présentation
                            </li>
                            <li>
                                Le lien vers une page internet décrivant la formation
                            </li>
                            <li>
                                Le texte de la description de la formation
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <div style="font-weight: bold">
                            Besoin 3 :
                        </div>

                        La CCI souhaite pourvoir recevoir des messages des utilisateurs afin de répondre aux demandes
                        d’information et de pouvoir évaluer l’impact de l’application.

                        Pour ce faire vous devez créer un formulaire permettant à l’utilisateur de renseigner son nom,
                        son prénom, son mail et de saisir un message.

                        Les données d’entrées doivent être contrôlées. Envoyer le message à la CCI via l’api rest
                        exposée.
                    </div>
                    <div class="mb-2">
                        <div style="font-weight: bold">
                            Besoin 4 :
                        </div>

                        Gestion des formations favorites de l’utilisateur.

                        L’utilisateur doit pouvoir, sur la page « détail d’une formation », ajouter/supprimer la
                        formation courantes de la liste des favorites. L’états de la liste des formations favorites doit
                        être maintenu entre plusieurs exécution de l’application.

                        Ajouter une entrée dans le menu, « favoris » permet d’afficher la liste des formations favorites
                        et d’accéder au détail d’une formation, comme précédemment.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-5">
        <div class="card-header">
            Activités réalisées et compétences acquises
        </div>

        <div class="card-body">
            Pour concevoir au mieux l’application mobile, j’ai travaillé seule. J’ai ajouté dans le menu déroulant les
            items : Les formations, Les favoris et Nous contacter.
            <ul>
                <li>
                    Page qui liste les formations, après sélection d’une formation, l’utilisateur est redirigé sur une
                    page descriptive de cette dernière, l’utilisateur a la possibilité de l’ajouter à ses favoris.
                </li>
                <li>
                    Page qui liste les formations favorites de l’utilisateur, après sélection d’une formation,
                    l’utilisateur est redirigé sur une page descriptive de cette dernière.
                </li>
                <li>
                    Page avec un formulaire de contact.
                </li>
            </ul>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Outils :
        </div>

        <div class="card-body">
            Eclipse, Android Studio, MAMP, phpmyadmin, VirtualBox, Postman.
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Documentation
        </div>

        <div class="card-body">
            <ul>
                <li>
                    <a href="../../../files/projets-contexte-v1.0.pdf" target="_blank">
                        Contexte
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/DOSDOC-cciPromo-v1.0.pdf" target="_blank">
                        Cahier des charges
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/compétences.pdf" target="_blank">
                        Validation des compétences
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/android-studio.pdf" target="_blank">
                        Android Studio
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/java.pdf" target="_blank">
                        Java
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/bibliothèques-de-composants.pdf" target="_blank">
                        Bibliothèques de composants
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/gitlab.pdf" target="_blank">
                        GitLab
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/sqlite.pdf" target="_blank">
                        SQLite
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/tests-fonctionnels.pdf" target="_blank">
                        Tests fonctionnels
                    </a>
                </li>
                <li>
                    <a href="../../../files/ccipromotion/tests-unitaires.pdf" target="_blank">
                        Tests unitaires (JUnit)
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="../../../assets/templates/gep/projects/ccipromotion/ccipromotion.js"></script>

</body>

</html>