<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../assets/templates/gep/projects/deja-dup/deja-dup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="icon" href="../../../images/favicon.png">
    <title>Déjà Dup - mf </title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="../../.." type="button" class="btn btn-light">
        <img src="../../../images/mano.png" class="rounded-circle img-thumbnail w-50">
    </a>

    <a class="navbar-brand d-sm-block d-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau de
        compétences</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand d-block d-sm-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau
                    de compétences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../../files/cv.pdf" target="_blank">CV</a>
            </li>
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="../ecole.html">Mon école</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../nablaware/nablaware.html">Mon entreprise</a>
            </li>
            -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="rpDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Réalisations professionnelles
                </a>
                <div class="dropdown-menu" aria-labelledby="rpDropdown">
                    <div class="dropdown-header">En formation</div>
                    <a class="dropdown-item" href="gsb.html">
                        GSB
                    </a>
                    <a class="dropdown-item" href="ccipromotion.html">
                        CCI - PROMO
                    </a>
                    <a class="dropdown-item" href="helios.html">
                        Helios
                    </a>
                    <a class="dropdown-item" href="developpement-professionnel.html">
                        Développement professionnel
                    </a>
                    <a class="dropdown-item" href="veille.html">
                        Veille informatique
                    </a>
                    <a class="dropdown-item" href="glpi.html">
                        GLPI
                    </a>
                    <a class="dropdown-item" href="dvwa.html">
                        DVWA
                    </a>
                    <a class="dropdown-item" href="deja-dup.html">
                        Déjà Dup
                    </a>
                    <div class="dropdown-header">En entreprise</div>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibuweb.html">
                        Triiibu web
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibumob.html">
                        Triiibu application mobile
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/trilogie.html">
                        Réseau - Trilogie
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="m-5">
        <h1 class="d-flex justify-content-center">Déjà Dup</h1>
    </div>


    <div class="card mb-5">
        <div class="card-header">
            Présentation
        </div>

        <div class="card-body">

            <div class="mb-2">
                La sauvegarde de données (backup en anglais) consiste à dupliquer sur un support de stockage des données
                numériques afin d’avoir la capacité de les restaurer en cas d’incident et de perte sur les données.
                Les incidents peuvent être d’origine externe :
            </div>

            <div class="mb-2">
                <ul>
                    <li>
                        Feu
                    </li>
                    <li>
                        Inondation
                    </li>
                    <li>
                        Catastrophe naturelle
                    </li>
                    <li>
                        Foudre
                    </li>
                    <li>
                        Choc et chute du matériel
                    </li>
                    <li>
                        Vol de matériel
                    </li>
                </ul>
            </div>

            <div class="mb-2">
                Les incidents peuvent être d’origine interne :
            </div>

            <div class="mb-2">
                <ul>
                    <li>
                        Infection par un code malveillant (virus, malware, ransomware) ;
                    </li>
                    <li>
                        Erreur humaine de manipulation, de suppression, de modification ;
                    </li>
                    <li>
                        Problème dû au système d’exploitation ;
                    </li>
                    <li>
                        Panne matérielle.
                    </li>
                </ul>
            </div>

            <div class="mb-2">
                La sauvegarde régulière des données permet de restaurer les données partiellement ou en totalité en cas
                d’incident.
            </div>

            <div class="mb-2">
                <b>Que faut-il sauvegarder ?</b>
            </div>

            <div class="mb-2">
                Déterminer ce qu’il faut sauvegarder et à quel rythme.
            </div>

            <div class="mb-2">
                <ul>
                    <li>
                        Le système d’exploitation pour permettre de retrouver l’environnement de travail sans devoir
                        réinstaller et configurer manuellement tout le système d’exploitation et les logiciels.
                    </li>
                    <li>
                        Les documents de travail et de profil individuel des utilisateurs (dossiers personnels) ainsi
                        que les documents partagés pour ne pas perdre tout le travail qui a été fait.
                    </li>
                    <li>
                        Les données des applications qui sont dans la plupart des cas mémorisées dans des bases de
                        données.
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Types de sauvegardes
        </div>

        <div class="card-body">

            <div class="mb-2">
                <b>La sauvegarde complète ou totale</b>
            </div>

            <div class="mb-2">
                Cette sauvegarde consiste, à un moment donné, à avoir une copie intégrale de toutes les données
                (fichiers, répertoires et sous répertoires) sélectionnées sur un support de sauvegarde. Le volume de
                données sauvegardées, qui est identique à celui des données peut être compressé pour diminuer l’espace
                de stockage nécessaire.
            </div>

            <div class="mb-2">
                Caractéristique de ce type de sauvegarde :
            </div>

            <div class="mb-2">
                <ul>
                    <li>
                        À chaque sauvegarde complète, l’intégralité des données est à nouveau copiée sur le support de
                        sauvegarde ;
                    </li>
                    <li>
                        Le temps de sauvegarde est long et proportionnel au volume de données à copier. La fréquence
                        des sauvegardes est en général d’une semaine. 1 fois par mois par exemple si les données
                        changent très peu
                    </li>
                    <li>
                        Pour restaurer les données il suffit de prendre la dernière sauvegarde complète ;
                    </li>
                    <li>
                        Le temps de restauration est long et proportionnel au volume de données à copier ;
                    </li>
                    <li>
                        Il n’est pas nécessaire de garder les sauvegardes les plus anciennes sauf obligation
                        réglementaire comme la conservation des logs de navigation sur Internet pendant une année.
                    </li>
                </ul>
            </div>

            <div class="mb-2">
                <b>La sauvegarde incrémentale ou incrémentielle</b>
            </div>

            <div class="mb-2">
                Il est d’abord nécessaire de réaliser une première sauvegarde complète. Puis les sauvegardes suivantes
                sont incrémentales c’est-à-dire que le logiciel de sauvegarde vérifie quels sont les fichiers qui ont
                été modifiés ou créés depuis la sauvegarde précédente, complète ou incrémentale. De cette manière, seuls
                les fichiers modifiés seront pris en compte dans cette sauvegarde incrémentale.
            </div>

            <div class="mb-2">
                Caractéristique de ce type de sauvegarde :
            </div>

            <div class="mb-2">
                <ul>
                    <li>
                        La sauvegarde incrémentale est très rapide et utilise un faible espace de stockage. Cela est
                        très utile
                        pour des sauvegardes fréquentes et donc journalières ;
                    </li>
                    <li>
                        La restauration est moins rapide car il est nécessaire d’utiliser la dernière sauvegarde
                        complète ainsi que toutes les sauvegardes incrémentales réalisées depuis cette sauvegarde
                        complète.
                    </li>
                </ul>
            </div>

            <div class="mb-2">
                <b> La sauvegarde différentielle</b>
            </div>

            <div class="mb-2">
                Avec la sauvegarde différentielle, seuls les fichiers modifiés depuis la dernière sauvegarde complète
                sont sauvegardés. C’est donc tout à fait normal si ce processus exige plus de temps mais aussi un plus
                grand espace de stockage par rapport à la sauvegarde incrémentale.
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Le plan de sauvegarde
        </div>

        <div class="card-body">
            Le plan de sauvegarde doit être défini afin de préciser le processus global de copie des données des
            systèmes d’exploitation (avec les logiciels), des bases de données et des données des utilisateurs.
            Les personnes chargées de l’administration doivent garder une trace sous forme de rapports quotidiens des
            activités de sauvegarde qui précisent la nature de la sauvegarde (complète, incrémentale, différentielle),
            les emplacements des sauvegardes, les dates et heures de ces sauvegardes ainsi que la réussite ou l’échec de
            l’opération.
        </div>
    </div>

    <div class="mb-5 d-flex justify-content-center">
        <a href="../../../files/déjà-dup.pdf" target="_blank" type="button" class="btn btn-cmptc">
            Validation des compétences
        </a>
    </div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="../../../assets/templates/gep/projects/deja-dup/deja-dup.js"></script>

</body>

</html>