<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../assets/templates/gep/projects/dvwa/dvwa.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="icon" href="../../../images/favicon.png">
    <title>DVWA - mf </title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="../../.." type="button" class="btn btn-light">
        <img src="../../../images/mano.png" class="rounded-circle img-thumbnail w-50">
    </a>

    <a class="navbar-brand d-sm-block d-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau de
        compétences</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand d-block d-sm-none" href="../../tableau-competences.html" style="font-size: 20px">Tableau
                    de compétences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../../files/cv.pdf" target="_blank">CV</a>
            </li>
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="../ecole.html">Mon école</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../nablaware/nablaware.html">Mon entreprise</a>
            </li>
            -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="rpDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Réalisations professionnelles
                </a>
                <div class="dropdown-menu" aria-labelledby="rpDropdown">
                    <div class="dropdown-header">En formation</div>
                    <a class="dropdown-item" href="gsb.html">
                        GSB
                    </a>
                    <a class="dropdown-item" href="ccipromotion.html">
                        CCI - PROMO
                    </a>
                    <a class="dropdown-item" href="helios.html">
                        Helios
                    </a>
                    <a class="dropdown-item" href="developpement-professionnel.html">
                        Développement professionnel
                    </a>
                    <a class="dropdown-item" href="veille.html">
                        Veille informatique
                    </a>
                    <a class="dropdown-item" href="glpi.html">
                        GLPI
                    </a>
                    <a class="dropdown-item" href="dvwa.html">
                        DVWA
                    </a>
                    <a class="dropdown-item" href="deja-dup.html">
                        Déjà Dup
                    </a>
                    <div class="dropdown-header">En entreprise</div>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibuweb.html">
                        Triiibu web
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/triiibumob.html">
                        Triiibu application mobile
                    </a>
                    <a class="dropdown-item" href="../../nablaware/projects/trilogie.html">
                        Réseau - Trilogie
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="m-5">
        <h1 class="d-flex justify-content-center">DVWA</h1>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Contexte
        </div>

        <div class="card-body">
            Badénio Tech, jeune ESN, votre employeur, a recruté de nouveaux développeurs juniors et
            souhaite les sensibiliser aux mécanismes de différentes failles de sécurité des applications web
            afin qu’ils intègrent très tôt les bonnes pratiques de sécurité. Afin de cibler au mieux votre
            démonstration, vous vous appuyez sur les recommandations et guide de tests proposés par
            l’OWASP (Open Web Application Security Project, https://owasp.org/)
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Présentation de l’application
        </div>

        <div class="card-body">
            Damn Vulnerable Web App (DVWA) est une application Web PHP/MySQL vulnérable. Ses
            principaux objectifs sont d'aider les professionnels de la sécurité à tester leurs compétences et
            leurs outils dans un environnement juridique, d'aider les développeurs Web à mieux comprendre
            les processus de sécurisation des applications Web et d'aider les enseignants/étudiants à
            enseigner/apprendre la sécurité des applications Web.
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Votre tâche :
        </div>

        <div class="card-body">
            <ul>
                <li>
                    Afin de répondre à ce besoin, vous préparez des tests d’intrusion sur l’application web vulnérable
                    DVWA que vous devez présenter dans un premier temps via un document puis lors d’un webinaire.
                </li>
                <li>
                    Installer les OS Kali et ubuntu.
                </li>
                <li>
                    Installer l’application et préparer la plateforme de tests.
                </li>
                <li>
                    Mettre en évidence et prévenir, sur différents niveaux
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-5 d-flex justify-content-center">
        <a href="../../../files/dvwa.pdf" target="_blank" type="button" class="btn btn-cmptc">
            Validation des compétences
        </a>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="../../../assets/templates/gep/projects/dvwa/dvwa.js"></script>

</body>

</html>